@font-face {
  font-family: 'Euclid';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/EuclidCircularB-Regular-WebXL.ttf') format('truetype');
}

@font-face {
  font-family: 'Euclid';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/EuclidCircularB-RegularItalic-WebXL.ttf') format('truetype');
}

@font-face {
  font-family: 'Euclid';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/EuclidCircularB-Bold-WebXL.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  background-color: var(--color-error-alternative);
  font-family: Euclid, Roboto, Helvetica, Arial, sans-serif;
}

p a {
  text-decoration: underline;
  color: var(--color-error-inverse);
  cursor: pointer;
}

ul {
  padding-left: 2em;
}

button {
  color: var(--color-error-alternative);
  background: var(--color-error-inverse);
  border: 1px solid var(--color-error-alternative);
  padding: 1em;
  border-radius: 2em;
  float: right;
  margin-top: 3em;
  font-family: var(--typography-s-body-md-font-family);
  font-weight: var(--typography-s-body-md-font-weight);
  font-size: var(--typography-s-body-md-font-size);
  line-height: var(--typography-s-body-md-line-height);
  letter-spacing: var(--typography-s-body-md-letter-spacing);
  cursor: pointer;
}

.button:hover{
  color: var(--color-error-inverse);
  background-color: var(--color-error-alternative);
  box-shadow: var(--color-error-alternative);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 5rem;
}

.content__header {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}

.content__header h1 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-error-inverse);
  float: left;
}

.content__header svg {
  fill: var(--color-error-inverse);
  width: 4em;
  height: 4em;
  margin-bottom: 2em;
}

.content__body {
  font-size: 1rem;
  color: var(--color-error-inverse);
}
