@font-face {
  font-family: 'Euclid';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/EuclidCircularB-Regular-WebXL.ttf') format('truetype');
}

@font-face {
  font-family: 'Euclid';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/EuclidCircularB-RegularItalic-WebXL.ttf') format('truetype');
}

@font-face {
  font-family: 'Euclid';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/EuclidCircularB-Bold-WebXL.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  background-color: #d03242;
  font-family: Euclid, Roboto, Helvetica, Arial, sans-serif;
}

p a {
  text-decoration: underline;
  color: white;
  cursor: pointer;
}

h1 {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-shadow: 0px 4px rgba(0,0,0, 0.15);
}

ul {
  padding-left: 2em;
}

button {
  color: red;
  background: white;
  padding: 1em;
  border-radius: 2em;
  border: none;
  float: right;
  margin-top: 3em;
  font-size: 0.9em;
  font-family: Euclid, Roboto, Helvetica, Arial, sans-serif;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 5rem;
}

.content__header {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--color-error-default);
  border-bottom: 1px solid var(--color-border-default);
  margin-bottom: 1rem;
}

.content__header h1 {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  float: left;
}

.content__header svg {
  fill: white;
  width: 4em;
  height: 4em;
  margin-bottom: 2em;
}

.content__body {
  font-size: 1rem;
  color: white;
}
